# Created by https://www.toptal.com/developers/gitignore/api/golang,mac,linux
# Edit at https://www.toptal.com/developers/gitignore?templates=golang,mac,linux

#!! ERROR: golang is undefined. Use list command to see defined gitignore types !!#

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

#!! ERROR: mac is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/golang,mac,linux
n